label {
  font-weight: normal; }

.m-reset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0; }

.p-reset {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0; }

.has-error .form-control {
  background: #9a1717;
  color: #ffffff; }

body {
  font-family: 'Exo', sans-serif; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../../fonts/glyphicons-halflings-regular.eot");
  src: url("../../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.content-menu {
  margin-top: 15px; }

.content-body {
  min-height: 450px;
  border: 1px solid #F4F3F3;
  border-radius: 5px;
  margin-bottom: 15px; }

.content-footer {
  min-height: 70px;
  background: #d96323;
  color: #ffffff;
  border: 1px solid #F4F3F3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
  .content-footer footer {
    text-align: center; }
    .content-footer footer p {
      margin-top: 28px; }

.w200 {
  width: 200px; }

.h200 {
  width: 200px; }

.w195 {
  width: 195px; }

.h195 {
  width: 195px; }

.w190 {
  width: 190px; }

.h190 {
  width: 190px; }

.w185 {
  width: 185px; }

.h185 {
  width: 185px; }

.w180 {
  width: 180px; }

.h180 {
  width: 180px; }

.w175 {
  width: 175px; }

.h175 {
  width: 175px; }

.w170 {
  width: 170px; }

.h170 {
  width: 170px; }

.w165 {
  width: 165px; }

.h165 {
  width: 165px; }

.w160 {
  width: 160px; }

.h160 {
  width: 160px; }

.w155 {
  width: 155px; }

.h155 {
  width: 155px; }

.w150 {
  width: 150px; }

.h150 {
  width: 150px; }

.w145 {
  width: 145px; }

.h145 {
  width: 145px; }

.w140 {
  width: 140px; }

.h140 {
  width: 140px; }

.w135 {
  width: 135px; }

.h135 {
  width: 135px; }

.w130 {
  width: 130px; }

.h130 {
  width: 130px; }

.w125 {
  width: 125px; }

.h125 {
  width: 125px; }

.w120 {
  width: 120px; }

.h120 {
  width: 120px; }

.w115 {
  width: 115px; }

.h115 {
  width: 115px; }

.w110 {
  width: 110px; }

.h110 {
  width: 110px; }

.w105 {
  width: 105px; }

.h105 {
  width: 105px; }

.w100 {
  width: 100px; }

.h100 {
  width: 100px; }

.w95 {
  width: 95px; }

.h95 {
  width: 95px; }

.w90 {
  width: 90px; }

.h90 {
  width: 90px; }

.w85 {
  width: 85px; }

.h85 {
  width: 85px; }

.w80 {
  width: 80px; }

.h80 {
  width: 80px; }

.w75 {
  width: 75px; }

.h75 {
  width: 75px; }

.w70 {
  width: 70px; }

.h70 {
  width: 70px; }

.w65 {
  width: 65px; }

.h65 {
  width: 65px; }

.w60 {
  width: 60px; }

.h60 {
  width: 60px; }

.w55 {
  width: 55px; }

.h55 {
  width: 55px; }

.w50 {
  width: 50px; }

.h50 {
  width: 50px; }

.w45 {
  width: 45px; }

.h45 {
  width: 45px; }

.w40 {
  width: 40px; }

.h40 {
  width: 40px; }

.w35 {
  width: 35px; }

.h35 {
  width: 35px; }

.w30 {
  width: 30px; }

.h30 {
  width: 30px; }

.w25 {
  width: 25px; }

.h25 {
  width: 25px; }

.w20 {
  width: 20px; }

.h20 {
  width: 20px; }

.w15 {
  width: 15px; }

.h15 {
  width: 15px; }

.w10 {
  width: 10px; }

.h10 {
  width: 10px; }

.w5 {
  width: 5px; }

.h5 {
  width: 5px; }

.w0 {
  width: 0px; }

.h0 {
  width: 0px; }

.wp100 {
  width: 100%; }

.hp100 {
  width: 100%; }

.wp95 {
  width: 95%; }

.hp95 {
  width: 95%; }

.wp90 {
  width: 90%; }

.hp90 {
  width: 90%; }

.wp85 {
  width: 85%; }

.hp85 {
  width: 85%; }

.wp80 {
  width: 80%; }

.hp80 {
  width: 80%; }

.wp75 {
  width: 75%; }

.hp75 {
  width: 75%; }

.wp70 {
  width: 70%; }

.hp70 {
  width: 70%; }

.wp65 {
  width: 65%; }

.hp65 {
  width: 65%; }

.wp60 {
  width: 60%; }

.hp60 {
  width: 60%; }

.wp55 {
  width: 55%; }

.hp55 {
  width: 55%; }

.wp50 {
  width: 50%; }

.hp50 {
  width: 50%; }

.wp45 {
  width: 45%; }

.hp45 {
  width: 45%; }

.wp40 {
  width: 40%; }

.hp40 {
  width: 40%; }

.wp35 {
  width: 35%; }

.hp35 {
  width: 35%; }

.wp30 {
  width: 30%; }

.hp30 {
  width: 30%; }

.wp25 {
  width: 25%; }

.hp25 {
  width: 25%; }

.wp20 {
  width: 20%; }

.hp20 {
  width: 20%; }

.wp15 {
  width: 15%; }

.hp15 {
  width: 15%; }

.wp10 {
  width: 10%; }

.hp10 {
  width: 10%; }

.wp5 {
  width: 5%; }

.hp5 {
  width: 5%; }

.wp0 {
  width: 0%; }

.hp0 {
  width: 0%; }

.m50 {
  margin: 50px; }

.mt50 {
  margin-top: 50px; }

.ml50 {
  margin-left: 50px; }

.mr50 {
  margin-right: 50px; }

.mb50 {
  margin-bottom: 50px; }

.p50 {
  padding: 50px; }

.pt50 {
  padding-top: 50px; }

.pl50 {
  padding-left: 50px; }

.pr50 {
  padding-right: 50px; }

.pb50 {
  padding-bottom: 50px; }

.m45 {
  margin: 45px; }

.mt45 {
  margin-top: 45px; }

.ml45 {
  margin-left: 45px; }

.mr45 {
  margin-right: 45px; }

.mb45 {
  margin-bottom: 45px; }

.p45 {
  padding: 45px; }

.pt45 {
  padding-top: 45px; }

.pl45 {
  padding-left: 45px; }

.pr45 {
  padding-right: 45px; }

.pb45 {
  padding-bottom: 45px; }

.m40 {
  margin: 40px; }

.mt40 {
  margin-top: 40px; }

.ml40 {
  margin-left: 40px; }

.mr40 {
  margin-right: 40px; }

.mb40 {
  margin-bottom: 40px; }

.p40 {
  padding: 40px; }

.pt40 {
  padding-top: 40px; }

.pl40 {
  padding-left: 40px; }

.pr40 {
  padding-right: 40px; }

.pb40 {
  padding-bottom: 40px; }

.m35 {
  margin: 35px; }

.mt35 {
  margin-top: 35px; }

.ml35 {
  margin-left: 35px; }

.mr35 {
  margin-right: 35px; }

.mb35 {
  margin-bottom: 35px; }

.p35 {
  padding: 35px; }

.pt35 {
  padding-top: 35px; }

.pl35 {
  padding-left: 35px; }

.pr35 {
  padding-right: 35px; }

.pb35 {
  padding-bottom: 35px; }

.m30 {
  margin: 30px; }

.mt30 {
  margin-top: 30px; }

.ml30 {
  margin-left: 30px; }

.mr30 {
  margin-right: 30px; }

.mb30 {
  margin-bottom: 30px; }

.p30 {
  padding: 30px; }

.pt30 {
  padding-top: 30px; }

.pl30 {
  padding-left: 30px; }

.pr30 {
  padding-right: 30px; }

.pb30 {
  padding-bottom: 30px; }

.m25 {
  margin: 25px; }

.mt25 {
  margin-top: 25px; }

.ml25 {
  margin-left: 25px; }

.mr25 {
  margin-right: 25px; }

.mb25 {
  margin-bottom: 25px; }

.p25 {
  padding: 25px; }

.pt25 {
  padding-top: 25px; }

.pl25 {
  padding-left: 25px; }

.pr25 {
  padding-right: 25px; }

.pb25 {
  padding-bottom: 25px; }

.m20 {
  margin: 20px; }

.mt20 {
  margin-top: 20px; }

.ml20 {
  margin-left: 20px; }

.mr20 {
  margin-right: 20px; }

.mb20 {
  margin-bottom: 20px; }

.p20 {
  padding: 20px; }

.pt20 {
  padding-top: 20px; }

.pl20 {
  padding-left: 20px; }

.pr20 {
  padding-right: 20px; }

.pb20 {
  padding-bottom: 20px; }

.m15 {
  margin: 15px; }

.mt15 {
  margin-top: 15px; }

.ml15 {
  margin-left: 15px; }

.mr15 {
  margin-right: 15px; }

.mb15 {
  margin-bottom: 15px; }

.p15 {
  padding: 15px; }

.pt15 {
  padding-top: 15px; }

.pl15 {
  padding-left: 15px; }

.pr15 {
  padding-right: 15px; }

.pb15 {
  padding-bottom: 15px; }

.m10 {
  margin: 10px; }

.mt10 {
  margin-top: 10px; }

.ml10 {
  margin-left: 10px; }

.mr10 {
  margin-right: 10px; }

.mb10 {
  margin-bottom: 10px; }

.p10 {
  padding: 10px; }

.pt10 {
  padding-top: 10px; }

.pl10 {
  padding-left: 10px; }

.pr10 {
  padding-right: 10px; }

.pb10 {
  padding-bottom: 10px; }

.m5 {
  margin: 5px; }

.mt5 {
  margin-top: 5px; }

.ml5 {
  margin-left: 5px; }

.mr5 {
  margin-right: 5px; }

.mb5 {
  margin-bottom: 5px; }

.p5 {
  padding: 5px; }

.pt5 {
  padding-top: 5px; }

.pl5 {
  padding-left: 5px; }

.pr5 {
  padding-right: 5px; }

.pb5 {
  padding-bottom: 5px; }

.m0 {
  margin: 0px; }

.mt0 {
  margin-top: 0px; }

.ml0 {
  margin-left: 0px; }

.mr0 {
  margin-right: 0px; }

.mb0 {
  margin-bottom: 0px; }

.p0 {
  padding: 0px; }

.pt0 {
  padding-top: 0px; }

.pl0 {
  padding-left: 0px; }

.pr0 {
  padding-right: 0px; }

.pb0 {
  padding-bottom: 0px; }

.main-menu .navbar .navbar-header {
  height: 80px; }

.main-menu .navbar-collapse h2 {
  color: #d96323;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 20px; }

.main-menu .navbar-right, .main-menu .navbar-left {
  margin-top: 15px; }

.admin-menu .navbar .navbar-header {
  height: 80px; }

.admin-menu .navbar-collapse h2 {
  color: #d96323;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 20px; }

.admin-menu .navbar-right, .admin-menu .navbar-left {
  margin-top: 15px; }

.home-index .home-image {
  margin: 0 auto; }

.login-index .login-container {
  background: #313030;
  padding: 15px;
  margin-top: 30%;
  border: 1px solid #313030;
  border-radius: 5px;
  color: #ffffff; }

.student-import .uploader-button {
  margin-left: -120px;
  margin-top: 15px; }

.group-detail .center-check {
  margin-left: 28px; }
