﻿
@{
    ViewBag.Title = "User Login";
}

<div class="row login-index" ng-controller="loginCtrl">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="login-container">
					<form role="form"
						name="loginForm"
						no-validate
						ng-submit="singUp(loginForm)">

					  	<div 
					  		class="form-group" 
					  		ng-class="{'has-error': !loginForm.formUsername.$untouched && loginForm.formUsername.$invalid }">
					    	
					    	<label class="control-label" for="loginUsername">Username</label>
					    	<input 
					    		type="text" 
					    		class="form-control" 
					    		id="loginUsername" 
					    		name="formUsername" 
					    		ng-model="formUsername" 
					    		placeholder="Insert your username" 
					    		required>
					    	<error-field-notification field-to-validate="loginForm.formUsername"></error-field-notification>
					  	</div>

					  	<div 
					  		class="form-group" 
					  		ng-class="{'has-error': !loginForm.formPassword.$untouched && loginForm.formPassword.$invalid }">
					    	
					    	<label class="control-label" for="loginPassword">Password</label>
					    	<input 
					    		type="password" 
					    		class="form-control" 
					    		id="loginPassword" 
					    		name="formPassword" 
					    		ng-model="formPassword" 
					    		placeholder="Insert your Password" 
					    		required>
					    	<error-field-notification field-to-validate="loginForm.formPassword"></error-field-notification>
					  	</div>
					  	<div class="form-group">
						  	<button type="submit" class="btn btn-info btn-block" ng-disabled="loginForm.$invalid">Login</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

