﻿@{
    ViewBag.Title = "Studen Loader 1.0";
}

<div class="row home-index pt15">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="Content/images/matriculas-portal-20171.jpg" class="home-image">
			</div>
		</div>

		<div class="row pt15">
			<div class="col-md-6">
				<p class="justify-text p15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aperiam repellat quasi est dolores! In, optio. Nihil repudiandae, expedita rerum assumenda laborum debitis minus, tempore natus, iste itaque dolores eaque.</p>
			</div>

			<div class="col-md-6">
				<p class="justify-text p15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt tempore dicta consectetur blanditiis officiis veniam voluptatem quibusdam sunt quaerat sapiente eius earum, corporis recusandae modi, non mollitia dolore similique?</p>
			</div>
		</div>
	</div>
</div>