body {
	font-family: 'Exo', sans-serif;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../../fonts/glyphicons-halflings-regular.eot");
  src: url("../../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); 
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.content-menu {
	margin-top: $generic-mp;
}

.content-body {
	min-height: 450px;
	border: 1px solid $white1;
	border-radius: $generic-br;
	margin-bottom: $generic-mp;
}

.content-footer {
	min-height: 70px;
	background: $orange;
	color: $white;
	border: 1px solid $white1;
	border-top-left-radius: $generic-br;
    border-top-right-radius: $generic-br;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

	footer {
		text-align: center;

		p {
			margin-top: 28px;
		}
	}
}