$limitSize: 200;
$limitpercentage: 100;
$limitMargPadd: 50;

@while $limitSize >= 0
  .w#{$limitSize}
    width: $limitSize + px;

  .h#{$limitSize}
    width: $limitSize + px;

  $limitSize: $limitSize - 5;


@while $limitpercentage >= 0
  .wp#{$limitpercentage}
    width: $limitpercentage + %;

  .hp#{$limitpercentage}
    width: $limitpercentage + %;

  $limitpercentage: $limitpercentage - 5;


@while $limitMargPadd >= 0
  .m#{$limitMargPadd}
    margin: $limitMargPadd + px;

  .mt#{$limitMargPadd}
    margin-top: $limitMargPadd + px;

  .ml#{$limitMargPadd}
    margin-left: $limitMargPadd + px;

  .mr#{$limitMargPadd}
    margin-right: $limitMargPadd + px;

  .mb#{$limitMargPadd}
    margin-bottom: $limitMargPadd + px;

  .p#{$limitMargPadd}
    padding: $limitMargPadd + px;

  .pt#{$limitMargPadd}
    padding-top: $limitMargPadd + px;

  .pl#{$limitMargPadd}
    padding-left: $limitMargPadd + px;

  .pr#{$limitMargPadd}
    padding-right: $limitMargPadd + px;

  .pb#{$limitMargPadd}
    padding-bottom: $limitMargPadd + px;

  $limitMargPadd: $limitMargPadd - 5;