.main-menu {
	.navbar .navbar-header {
		height: 80px;
	}	

	.navbar-collapse h2 {
		color: $orange;
		font-weight: bold;
		font-size: 40px;
	    margin-top: 20px;
		margin-left: 20px;
	}

	.navbar-right, .navbar-left {
		margin-top: $generic-mp;
	}
}
