$orange: #d96323;
$orange1: #8D390C;
$orange2: #ed740b;

$gray: #313030;
$gray1: #7C7C7C;
$gray2: #4B4A4A;

$white: #ffffff;
$white1: #F4F3F3;

$red: #9a1717;

$generic-mp: 15px;
$generic-br: 5px;

//Responsive bootstrap breakpoints
$small-breakpoint: 768px;
$medium-breakpoint: 992px;
$large-breakpoint: 1200px;