﻿@{
    var groupData = (StudentsLoader.Models.groups) ViewData["groupData"];

    ViewBag.Title = "Detail "+ @groupData.code +" Group";
}

<div class="row group-detail" ng-controller="groupDetailCtrl">
    <div class="col-md-12">
        <div class="row m-reset mt15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2> <span class="fa fa-users mr15"></span>Detail @groupData.code Group</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row m-reset mt15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-stripped">
                    <tr>
                        <th>
                          <input type="checkbox" ng-model="notifyAllStudents" ng-click="toggleAll()" ng-model="isAllSelected">
                          <span class="ml5">Notify</span>
                        </th>
                        <th>Code</th>
                        <th>Student Name</th>
                        <th>Email Sent</th>
                        <th>Score</th>
                    </tr>
                        @foreach (var StudentItem in ViewData["students"] as IEnumerable<StudentsLoader.Models.students>)
                        {
                            <tr class="student-row" data-identifier="@StudentItem.id" ng-init="initializeActions(@StudentItem.id, '@StudentItem.email', @StudentItem.score)">
                                <td>
                                  <input 
                                      type="checkbox"
                                      class="center-check"
                                      ng-disabled="studentSendEmailDisabled_@StudentItem.id"
                                      ng-checked="studentSendEmailChecked_@StudentItem.id"
                                      ng-model="studentSendEmailChecked_@StudentItem.id">
                                </td>
                                <td>
                                  <span id="studentCode_@StudentItem.id">
                                    @StudentItem.code
                                  </span>
                                </td>
                                <td>
                                  <span id="studentName_@StudentItem.id">
                                    @StudentItem.name    
                                  </span>
                                </td>
                                <td>
                                    @{
                                      if(@StudentItem.email != null) {
                                        if(@StudentItem.notified != 0) {
                                          <span class="fa fa-check text-success" data-toggle="tooltip" data-placement="right" title="Student notified successfully"></span>
                                        } else {                                          
                                          <span class="fa fa-circle text-muted" data-toggle="tooltip" data-placement="right" title="Student not notified yet"></span>
                                        }
                                      } else {
                                        <span class="fa fa-ban text-danger" data-toggle="tooltip" data-placement="right" title="Student doesn't have a email"></span>  
                                      }
                                    }                                  
                                </td>
                                <td>
                                  <div class="form-group">
                                    <input 
                                      type="number"
                                      class="form-control"
                                      ng-model="studentScore_@StudentItem.id"
                                      placeholder="0 to 5"
                                      min="0" 
                                      max="5"
                                      @if(@StudentItem.score != "0"){ @Html.Raw("readonly");}
                                      step="0.1">
                                  </div>
                                </td>
                            </tr>
                        }
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row m-reset mt15 mb15">
            <div class="col-md-2"></div>
          <div class="col-md-4">
            <button class="btn btn-danger pull-left" ng-click="goGroupList(false)">Cancel</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-info pull-right" ng-click="updateStudentsNotes()">Update Group</button>
          </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
