﻿@model IEnumerable<StudentsLoader.Models.groups>
@{
    ViewBag.Title = "Groups List";
}

<div class="row" ng-controller="groupIndexCtrl">
    <div class="col-md-12">
        <div class="row m-reset mt15 ">
            <div class="col-md-8">
                <h2>Group List</h2>
            </div>
            <div class="col-md-4">
                <button class="btn btn-info pull-right mt15" ng-click="createGroup()">
                    <span class="fa fa-users mr20"></span>Create Group
                </button>
            </div>
        </div>
        <div class="row m-reset mt15">
            <table class="table table-striped">
                <tr>
                    <td>Group Reference</td>
                    <td>Actions</td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td colspan="5" ng-show="showWarning_{{@Html.DisplayFor(modelItem => item.id)}}">
                            <div class="alert alert-warning" role="alert">
                                Are you sure that do you want to remove the <strong>@Html.DisplayFor(modelItem => item.code)</strong> group?
                                <button class="btn btn-danger ml30" ng-click="cancelRemoveActionFor('@Html.DisplayFor(modelItem => item.id)')">
                                    <span class="fa fa-times"></span>
                                </button>

                                <button class="btn btn-success ml15" ng-click="confirmRemoveActionFor('@Html.DisplayFor(modelItem => item.id)')">
                                    <span class="fa fa-check"></span>
                                </button>
                            </div>
                        </td>

                        <td ng-show="!showWarning_{{@Html.DisplayFor(modelItem => item.id)}}">
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td ng-show="!showWarning_{{@Html.DisplayFor(modelItem => item.id)}}">
                            <table class="wp100">
                                <tr>
                                    <td align="center">
                                        <button class="btn btn-primary" ng-click="detailGroup('@Html.DisplayFor(modelItem => item.id)')">
                                            <span class="fa fa-eye"></span>
                                        </button>
                                    </td>
                                    <td align="center">
                                        <button class="btn btn-danger" ng-click="removeGroup('@Html.DisplayFor(modelItem => item.id)')">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                                }
            </table>
        </div>
    </div>
</div>
