﻿@{
    ViewBag.Title = "Create Student";
    var codeToAsign = @ViewData["studentCode"];
}

<div class="row" ng-controller="studentAddCtrl">
    <div class="col-md-12">
        <div class="row m-reset mt15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>Create Student</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row m-reset mt15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form role="form"
                      name="createStudentForm"
                      no-validate
                      ng-submit="createStudent(createStudentForm)">

                    <div class="form-group"
                         ng-class="{'has-error': !createStudentForm.studentCode.$untouched && createStudentForm.studentCode.$invalid }">

                        <label class="control-label" for="updateCode">Code</label>
                        <input type="text"
                               class="form-control"
                               id="updateCode"
                               name="studentCode"
                               ng-model="studentCode"
                               ng-init="studentCode='@codeToAsign'"
                               placeholder="Insert student code"
                               readonly
                               required>
                        <error-field-notification field-to-validate="createStudentForm.studentCode"></error-field-notification>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': !createStudentForm.studentName.$untouched && createStudentForm.studentName.$invalid }">

                        <label class="control-label" for="updateName">Name</label>
                        <input type="text"
                               class="form-control"
                               id="updateName"
                               name="studentName"
                               ng-model="studentName"
                               placeholder="Insert student Name"
                               required>
                        <error-field-notification field-to-validate="createStudentForm.studentName"></error-field-notification>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': !createStudentForm.studentEmail.$untouched && createStudentForm.studentEmail.$invalid }">

                        <label class="control-label" for="updateEmail">Email</label>
                        <input type="text"
                               class="form-control"
                               id="updateEmail"
                               name="studentEmail"
                               ng-model="studentEmail"
                               ng-pattern="$root.emailPattern"
                               placeholder="Insert student Email"
                               required>
                        <error-field-notification field-to-validate="createStudentForm.studentEmail"></error-field-notification>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': !createStudentForm.studentGroup.$untouched && createStudentForm.studentGroup.$invalid }">

                        <label class="control-label" for="updateGroup">Group</label>
                        <select class="form-control"
                                id="updateGroup"
                                name="studentGroup"
                                ng-init="studentGroup = '0'"
                                ng-model="studentGroup">

                            <option value="0"> -- Select student group -- </option>

                            @foreach (var groupReference in ViewData["groups"] as IList<StudentsLoader.Models.groups>)
                            {
                                <option value="@groupReference.code">
                                    @groupReference.code
                                </option>
                            }
                        </select>
                        <error-field-notification field-to-validate="createStudentForm.studentGroup"></error-field-notification>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-danger pull-left" ng-click="goStudentsList(false)">Cancel</button>
                        <button type="submit" class="btn btn-info pull-right" ng-disabled="createStudentForm.$invalid">Create Student</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
