﻿@model IEnumerable<StudentsLoader.Models.students>

@{
    ViewBag.Title = "Edit Student";
    var studentModel = (StudentsLoader.Models.students) ViewData["studentData"];
}

<div class="row" ng-controller="studentEditCtrl">
    <div class="col-md-12">
        <div class="row m-reset mt15">
	        <div class="col-md-2"></div>
	        <div class="col-md-8">
	            <h2>Edit Student</h2>
	        </div>
	        <div class="col-md-2"></div>
        </div>
        <div class="row m-reset mt15">
        	<div class="col-md-2"></div>
        	<div class="col-md-8">
	        	<form role="form"
					name="updateStudentForm"
					no-validate
					ng-submit="updateStudent(updateStudentForm)">

					<input 
						type="hidden" 
						name="studentIdentifier" 
						ng-model="studentIdentifier"
						ng-init="studentIdentifier='@studentModel.id'"
						readonly
						required>

				  	<div 
				  		class="form-group" 
				  		ng-class="{'has-error': !updateStudentForm.studentCode.$untouched && updateStudentForm.studentCode.$invalid }">
				  		
				    	<label class="control-label" for="updateCode">Code</label>
				    	<input 
				    		type="text" 
				    		class="form-control" 
				    		id="updateCode" 
				    		name="studentCode" 
				    		ng-model="studentCode"
				    		ng-init="studentCode='@studentModel.code'"
				    		placeholder="Insert student code" 
				    		readonly 
				    		required>
				    		<error-field-notification field-to-validate="updateStudentForm.studentCode"></error-field-notification>
				  	</div>
				  	<div 
				  		class="form-group" 
				  		ng-class="{'has-error': !updateStudentForm.studentName.$untouched && updateStudentForm.studentName.$invalid }">
				    	
				    	<label class="control-label" for="updateName">Name</label>
				    	<input 
				    		type="text" 
				    		class="form-control" 
				    		id="updateName" 
				    		name="studentName" 
				    		ng-model="studentName" 
				    		ng-init="studentName='@studentModel.name'"
				    		placeholder="Insert student Name" 
				    		required>
				    	<error-field-notification field-to-validate="updateStudentForm.studentName"></error-field-notification>
				  	</div>
				  	<div 
				  		class="form-group" 
				  		ng-class="{'has-error': !updateStudentForm.studentEmail.$untouched && updateStudentForm.studentEmail.$invalid }">
				    	
				    	<label class="control-label" for="updateEmail">Email</label>
				    	<input 
				    		type="text" 
				    		class="form-control" 
				    		id="updateEmail" 
				    		name="studentEmail" 
				    		ng-model="studentEmail" 
				    		ng-init="studentEmail='@studentModel.email'"
				    		ng-pattern="$root.emailPattern"
				    		placeholder="Insert student Email" 
				    		required>
				    	<error-field-notification field-to-validate="updateStudentForm.studentEmail"></error-field-notification>
				  	</div>
				  	<div 
				  		class="form-group" 
				  		ng-class="{'has-error': !updateStudentForm.studentGroup.$untouched && updateStudentForm.studentGroup.$invalid }">
				    	
				    	<label class="control-label" for="updateGroup">Group</label>
				    	<select
				    		class="form-control" 
				    		id="updateGroup" 
				    		name="studentGroup" 
				    		ng-init="studentGroup='@studentModel.group'"
				    		ng-model="studentGroup">

				    		<option value="0"> -- Select student group -- </option>
				    		
				    		@foreach (var groupReference in ViewData["groups"] as IList<StudentsLoader.Models.groups>)
							{
							    <option value="@groupReference.code">
							        @groupReference.code
							    </option>
							}
				    	</select>
				    	<error-field-notification field-to-validate="updateStudentForm.studentGroup"></error-field-notification>
				  	</div>

				  	<div class="form-group">
				  		<button class="btn btn-danger pull-left" ng-click="goStudentsList(false)">Cancel</button>
				  		<button type="submit" class="btn btn-info pull-right" ng-disabled="updateStudentForm.$invalid">Update Student</button>
				  	</div>
				</form>
        	</div>
        	<div class="col-md-2"></div>
        </div>
    </div>
</div>


