﻿@{
    ViewBag.Title = "Import Student Excel File";
}

<div class="row student-import" ng-controller="studentImportCtrl">
    <div class="col-md-12">
        <div class="row m-reset mt15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>Import Student Excel File</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row m-reset mt15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Show Instructions <span class="fa fa-plus-square ml15"></span>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <p>From here you can upload a group of a students from a excel file.</p>
                        <h3><strong>Allowed Extensions</strong></h3>
                        <p>The allowed Extensions form Excel file are:
                        <ul>
                          <li><code>.xls</code></li>
                          <li><code>.xlsx</code></li>
                        </ul>
                        <div class="alert alert-warning" role="alert">
                          <h3><strong>Note:</strong></h3>
                          <p>For prevent errors, only is allowed an excel file with the next estructure</p>
                          <ol>
                            <li><code>StudentName</code></li>
                            <li><code>StudentEmail</code></li>
                            <li><code>StudentGoup</code></li>
                          </ol>
                          <strong>These are the header for each column and are required for upload the file successfully</strong>
                        </div>
                        <h3><strong>Download ExcelFormat</strong></h3>
                        <p>You can get the correct structure for excel file doing click in the next button</p>
                        <a ></a>
                        <button class="btn btn-primary" ng-click="getExcelFormat()">Get Student Excel Format <span class="fa fa-file-excel-o ml15"></span></button>
                        <p>You going to get the file with the correct structure and a dummy data that you must to replcae for your student data</p>
                        <center><img src="/Content/images/excelPreviewFormat.png"></center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            <div class="col-md-2"></div>
        </div>

        <div class="row m-reset mt15">
          <div class="col-md-4"></div>
          <div class="col-md-4">

            <div class="row" ng-show="showProgressbar">
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: {{file.progressPositive}}%">
                  <span class="sr-only">5% Complete (success)</span>
                </div>
                <div class="progress-bar progress-bar-warning" style="width: {{file.progressNegative}}%">
                  <span class="sr-only">100% Complete (danger)</span>
                </div>
              </div>
              <h6>Uploading Progress {{file.progressPositive}}%</h6>
            </div>
            <div class="row" ng-show="!showProgressbar">
              <pre class="text-center">
                <input type="file" nv-file-select uploader="uploader" ng-show="showFileInput"/>
                <button class="btn btn-success uploader-button" ng-click="triggerUploadEvent()" ng-show="!showFileDescription">Upload Excel File</button>
                <button class="btn btn-warning uploader-button" ng-click="triggerUploadEvent()" ng-show="showFileDescription">Change File</button>
              </pre>

              <ul ng-show="showFileDescription">
                <li>
                  <strong>File Name:</strong>&nbsp;&nbsp;{{ file.name }}
                </li>
                <li>
                  <strong>File Size:</strong>&nbsp;&nbsp;{{ file.size }} Kbs
                </li>
                <li>
                  <strong>File Last Modified Date:</strong>&nbsp;&nbsp;{{ file.lastModifiedDate }}
                </li>
                <li>
                  <strong>File Type:</strong>&nbsp;&nbsp;<span class="fa {{file.icon}}"></span>&nbsp;&nbsp;{{file.type}}
                </li>
              </ul>

              <button class="btn btn-danger pull-left" ng-click="goStudentsList(false)">Cancel</button>
              <button type="submit" class="btn btn-info pull-right" ng-disabled="!showFileDescription" ng-click="uploader.queue[0].upload()">Import Students File</button>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>

        <div class="row m-reset m15" ng-show="showskipedExcelRecords">
          <div class="alert alert-warning" role="alert">
            <h3><strong>These rows were skipped</strong></h3>
            <ul id="skipedExcelRecords">
              <!-- <li>Dinamic content from upload response</li> -->
            </ul>
          </div>
        </div>
    </div>
</div>
