﻿@model IEnumerable<StudentsLoader.Models.students>
@{
    ViewBag.Title = "Student List";
}

<div class="row" ng-controller="studentIndexCtrl">
    <div class="col-md-12">
        <div class="row m-reset mt15 ">
            <div class="col-md-8">
                <h2>Student List</h2>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success pull-left mt15" ng-click="uploadExcelFile()">
                    <span class="fa fa-upload mr20"></span>Upload Excel<span class="fa fa-file-excel-o ml20"></span>
                </button>
                <button class="btn btn-info pull-right mt15" ng-click="createUser()">
                    <span class="fa fa-user-plus mr20"></span>Create Student</button>
            </div>
        </div>
        <div class="row m-reset mt15">
            <table class="table table-striped">
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td>Group</td>
                    <td>Email</td>
                    <td>Actions</td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td colspan="5" ng-show="showWarning_{{@Html.DisplayFor(modelItem => item.id)}}">
                            <div class="alert alert-warning" role="alert">
                                Are you sure that do you want to remove the <strong>@Html.DisplayFor(modelItem => item.name)</strong> student?
                                <button class="btn btn-danger ml30" ng-click="cancelRemoveActionFor('@Html.DisplayFor(modelItem => item.id)')">
                                    <span class="fa fa-times"></span>
                                </button>

                                <button class="btn btn-success ml15" ng-click="confirmRemoveActionFor('@Html.DisplayFor(modelItem => item.id)')">
                                    <span class="fa fa-check"></span>
                                </button>
                            </div>                            
                        </td>

                        <td ng-show="!showWarning_{{@Html.DisplayFor(modelItem => item.id)}}">
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td ng-show="!showWarning_{{@Html.DisplayFor(modelItem => item.id)}}">
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td ng-show="!showWarning_{{@Html.DisplayFor(modelItem => item.id)}}">
                            @{
                                if (item.group != 0)
                                {
                                    <span class="text-success"><b>@Html.DisplayFor(modelItem => item.group)</b></span>
                                } else
                                {
                                    <span class="fa fa-ban text-danger"></span>
                                }
                            }
                            
                        </td>
                        <td ng-show="!showWarning_{{@Html.DisplayFor(modelItem => item.id)}}">
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td ng-show="!showWarning_{{@Html.DisplayFor(modelItem => item.id)}}">
                            <table class="wp100">
                                <tr>
                                    <td align="center">
                                        <button class="btn btn-primary" ng-click="editStudent('@Html.DisplayFor(modelItem => item.id)')">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                    </td>
                                    <td align="center">
                                        <button class="btn btn-danger" ng-click="removeStudent('@Html.DisplayFor(modelItem => item.id)')">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

