<span class="text-danger break-line" ng-show="fieldToValidate.$touched && fieldToValidate.$error.required">This field cannot be empty!</span>
<span class="text-danger break-line" ng-show="(fieldToValidate.$error.minlength || fieldToValidate.$error.maxlength)">This field must have between {{ minlength }} and {{ maxlength }} characters</span>
<span class="text-danger break-line" ng-show="fieldToValidate.$error.pattern">Email format invalid</span>
<span class="text-danger break-line" ng-show="fieldToValidate.$error.email">Email format invalid!</span>
<span class="text-danger break-line" ng-show="fieldToValidate.$error.invalid">{{ fieldToValidate.$error_message }}</span>
<!-- {{fieldToValidate}} -->