﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <base href="http://localhost:3000/">

    @Styles.Render("~/Content/assets/vendor.css")
    @Styles.Render("~/Content/assets/styles.css")

    <script src="@Url.Content("~/Scripts/assets/vendor.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/app.js")"></script>
    @RenderSection("scripts", required: false)
</head>
<body ng-app="StudentLoader">

    <div class="container">
        <div class="row content-menu">
            <div class="col-md-12">
                @{
                    if (Session["userData"] == null)
                    {
                        <main-menu class="main-menu"></main-menu>
                    }
                    else
                    {
                        <admin-menu class="admin-menu"></admin-menu>
                    }
                }
                
            </div>   
        </div>

        <div class="row content-body">
            <div class="col-md-12">
                @RenderBody()
            </div>   
        </div>

        <div class="row content-footer">
            <footer>
                <p>&copy; @DateTime.Now.Year - Student Loader 1.0 All rights reserved</p>
            </footer>
        </div>
    </div>
</body>
</html>
