﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")">

    @Styles.Render("~/Content/assets/vendor.css")
    @Styles.Render("~/Content/assets/styles.css")

    <script src="@Url.Content("~/Scripts/assets/vendor.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/app.js")"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
